/*
Error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 87 of sass/style.sass

82: +keyframes('fade-out')
83:   0%
84:     opacity: 1
85:     -webkit-transform: scale(1)
86:   85%
87:    opacity: 1
88:     -webkit-transform: scale(1.05)
89:   100%
90:     -webkit-transform: scale(.1)
91:     opacity: 0
92: 

Backtrace:
sass/style.sass:87
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:473:in `block in tabulate'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:431:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:431:in `each_with_index'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:431:in `tabulate'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:396:in `_to_tree'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:62:in `process_result'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 87 of sass/style.sass\A \A 82: +keyframes('fade-out')\A 83:   0%\A 84:     opacity: 1\A 85:     -webkit-transform: scale(1)\A 86:   85%\A 87:    opacity: 1\A 88:     -webkit-transform: scale(1.05)\A 89:   100%\A 90:     -webkit-transform: scale(.1)\A 91:     opacity: 0\A 92: "; }
