<div class="content-box">
    <div id="game-selection-container" ng-show="!vm.states.playing">
        <div class="row"  style="margin-top: 30px">
            <div class="col-md-10">
                <form class="form-horizontal pull-left">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-7 control-label" style="text-align: left !important;">Number of players</label>
                            <div class="col-md-3">
                                <select ng-model="vm.inputs.num_players" class="form-control inline-small" ng-options="n for n in [] | range:10" ng-change="vm.findGames(vm.inputs.num_players)" ></select>
                            </div>
                        </div>
                        <!-- Multiple Checkboxes -->
                        <div class="form-group">
                            <label class="col-md-7 control-label" style="text-align: left !important;" for="allow_split">Allow split</label>
                            <div class="col-md-3">
                                <input type="checkbox" name="allow_split" id ="allow_split" ng-model="vm.inputs.allow_split" value="true" ng-change="vm.findGames(vm.inputs.num_players)">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Playable games</h4>
                <span ng-repeat="game in vm.playableGames" class="img-frame" ng-click="vm.selectGame(game)">
                    <img ng-src="{{ game.images[0] }}" title="{{ game._id }}" width="150" height="150"  />
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Selected games</h4>
                <div>
                    <button class="btn btn-primary" ng-disabled="vm.selectedGames < 3" ng-click="vm.play()">Play</button>
                </div>
                <span ng-repeat="game in vm.selectedGames track by $index" class="img-frame" ng-click="vm.unselectGame(game)" >
                    <img ng-src="{{ game.images[0] }}" title="{{ game._id }}" width="75" height="75"  />
                </span>

            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.states.playing">
        <div class="col-md-10">
            <span ng-repeat="game in vm.selectedGames track by $index" class="img-frame delay" ng-class="game.vanish ? 'vanish' : ''" >
                <img ng-src="{{ game.images[0] }}" title="{{ game._id }}" width="150" height="150"  />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-primary" ng-click="vm.reset()" ng-show="vm.states.finished">Finished</button>
        </div>
    </div>
</div>