<div class="content-box">
    <div class="event-container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3>Add game</h3>
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>
                            <div class="col-md-4">
                                <input ng-model="vm.newGame._id" id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="est_duration">Avg duration</label>
                            <div class="col-md-4">
                                <input ng-model="vm.newGame.duration" id="est_duration" name="est_duration" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="est_duration">Min. players</label>
                            <div class="col-md-4">
                                <input ng-model="vm.newGame.min_players" id="min_players" name="min_players" type="number" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="est_duration">Max players</label>
                            <div class="col-md-4">
                                <input ng-model="vm.newGame.max_players" id="max_players" name="max_players" type="number" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" >Drop Image</label>
                            <div class="col-md-4">
                                <div ng-file-drop="vm.uploadFile($files)" class="drag-drop-files" ng-file-drag-over-class="drag-drop-files-over"></div>
                                <br />
                                <br />
                                <img ng-hide="!vm.newGame.image_url" ng-src="{{ vm.newGame.image_url }}" width="100" height="100" class="img-circle"/>
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-4">
                                <button id="submit" name="submit" class="btn btn-primary" ng-click="vm.saveGame(vm.newGame)">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3>Games</h3>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Players</th>
                        <th>Duration</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="game in vm.games | orderBy : '_id'">
                        <td ng-click="vm.newGame = game">{{ game._id }}</td>
                        <td>{{ game.min_players }} - {{ game.max_players }}</td>
                        <td>{{ game.duration }}</td>
                        <td><img ng-src="{{ game.image_url }}" width="25" height="25" class="img-circle shadow" enlarge="" />  </td>
                        <td><a class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove" ng-click="vm.removeGame(game)"></span> </a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>