=transition($sec)
  -webkit-transition: $sec linear all
  -moz-transition: $sec linear all
  -o-transition: $sec linear all
  transition: $sec linear all
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius
=box-shadow($px)
  box-shadow: $px $px 5px #888888
=padding($px)
  padding: $px
.shadow
  +box-shadow(5px)

.content-box
  margin-top: 70px
  +padding(20px)

.section
  height: 20px
  width: 100%

.inline
  display: inline

.box-padding-sm
  +padding(10px)
.box-padding-md
  +padding(20px)

.inline-small
  @extend .inline
  width: 70px
.inline-medium
  @extend .inline
  width: 100px

.event-container
  @extend .box-padding-md
  +border-radius(10px)
  +box-shadow(10px)
  border: 1px solid black

.drag-drop-files
  width: 200px
  height: 80px
  background-color: #428bca
  opacity: 0.3
  border: 2px dashed grey
  border-radius: 25px

.drag-drop-files-over
  opacity: 0.7
.alert-fixed-top
  position: fixed
  margin-top: 60px
  height: 52px
  width: 100%
  z-index: 10000
.gamegame-entry
  margin: 10px

.img-frame img
  margin: 5px 5px 5px 0px
  padding: 10px
  border: 2px solid darkgrey
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75)
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75)
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75)

.space
  margin-left: 0.5em
  margin-right: 0.5em

.v-offset-top-1
  margin-top: 2%

.v-offset-top-2
  margin-top: 4%
.v-offset-top-3
  margin-top: 6%

.grayed
  opacity: 0.5

.stamped
  -ms-transform: rotate(-10deg)
  -webkit-transform: rotate(-10deg)
  transform: rotate(-10deg)
  color: red
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 1)
  z-index: 10000
  font-size: 2em
  position: absolute
  top: 40%
  left: 40%