<div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <a class="btn btn-primary pull-right" href="#/events/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
</div>

<div class="row v-offset-top-1">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
            <li ng-repeat="event in vm.events | orderBy : 'start'" style="cursor: pointer;" ng-class="{'grayed' : event.end < vm.now}" ng-click="vm.selectEvent(event)" ng-if="event._id != null">
                <div class="stamped" ng-show="event.end < vm.now">
                    Finished
                </div>
                <time>
                    <span class="day">{{ event.start_date | date : 'd' }}</span>
                    <span class="month">{{ event.start_date | date : 'MMM' }}</span>
                </time>
                <img alt="" ng-src="{{ event.image_url || 'asserts/img/sadpanda.jpg' }} " />
                <div class="info">
                    <h2 class="title">{{ event.name }}</h2>
                    <p class="desc">{{ event.place }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>