<div class="content-box">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Create Player</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Player name</label>
                <div class="col-md-4">
                    <input ng-model="vm.newPlayer.username" id="username" name="username" type="text" placeholder="Playername" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" class="btn btn-primary" ng-click="vm.saveNewPlayer(vm.newPlayer)">Save</button>
                </div>
            </div>
        </fieldset>
    </form>

    <h1>Players</h1>
    <table class="table table-responsive">
        <tr>
            <th>Player name</th>
            <th>Rating</th>
            <th>Remove</th>
        </tr>
        <tr ng-repeat="player in vm.players">
            <td>{{ player._id }}</td>
            <td>{{ player.rating || 0 }}</td>
            <td>
                <a class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove" ng-click="vm.deletePlayer(player)"></span> </a>
            </td>
        </tr>
    </table>
</div>